body{
    font-family: "roboto", sans-serif;
    margin: 0px;
}
//Responsive Desktop
@media (min-width: 1025px){
    .reservation{
        position: relative;
        z-index: 0;
        background-color: $cd-background--secondary;
        padding: 45px 0px 50px 0px;
        &__title{
            display: flex;
            justify-content: center;
        }
        & h1{
            width: 75%;
            text-align: center;
            margin: 0px;
        }
        &__text{
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
            & p{
                width: 75%;
                text-align: center;
            }
        }
        &__button{
            display: flex;
            margin: 30px auto 0px auto;
            width: 205px;
            @import "./button.scss";
        }
    }
// Deuxièmes sections

    .explain{
        padding-bottom: 60px;
        &__title{
            padding: 20px 0px 13px 7%;
        }
        &__container{
            display: flex;
            justify-content: center;
            &__block{
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 90%;
            }
        }
        &__cards{
            position: relative;
            z-index: 0;
            background-color: $cd-background;
            display: flex;
            flex-direction: row;
            align-items: center;
            border: none;
            border-radius: 20px;
            box-shadow: 0px 4px 15px 0px $cd-shadow;
            height: 72px;
            width: 85%;
            margin: 0px 0px 30px 30px;
            & .fa-mobile-screen-button, .fa-list-ul, .fa-store{
                color: $cd-color--font;
            }
            & .fa-mobile-screen-button:hover, .fa-list-ul:hover, .fa-store:hover{
                color: $cd-background--circle;
            }
            & h3{
                padding-left: 10px;
            }
        }
        & .circle__numbers{
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            background-color: $cd-background--circle;
            border: none;
            border-radius: 20px;
            color: white;
            right: 12px;
        }
    }
// Troisièmes section
    .restaurants{
        background-color: $cd-background--secondary;
        padding-bottom: 70px;
        position: relative;
        &__title{
            padding: 60px  0px 25px 15px;
            & h2{
                margin: 0px 0px 20px 45px;
            }
        }
        &__container__add{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        &__container{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        &__cards__add{
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 0;
            width: 40%;
            position: relative;
            & a{
                text-decoration: none;
                color: $cd-color--txt;
            }
            &__notif{
                position: absolute;
                z-index: 1;
                background-color: $cd-background--notif;
                border-radius: 5px;
                height: 29px;
                width: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0px 2px 4px 0px $cd-shadow;
                right: 15px;
                top: 15px;
            }
            & img{
                object-fit: cover;
                height: 176px;
                border: none;
                border-radius: 20px 20px 0px 0px;
                width: $width;
            } 
            &__description{
                background-color: $cd-background;
                border-radius: 0px 0px 20px 20px;
                box-shadow: 0px 4px 15px 0px $cd-shadow--secondary;
                padding-left: 10px;
                z-index: 0;
                height: 85px;
                width: 360px;
                &__heart{
                    position: relative;
                    z-index: 1;
                    left: 310px;
                    bottom: 70px;
                    width: 23px;
                }
                &__text h3 {
                    margin: 0px;
                    padding-top: 15px;
                }
            }
        }
        &__cards{
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 0;
            margin-top: 30px;
            width: 40%;
            & a{
                text-decoration: none;
                color: $cd-color--txt;
            }
            & img{
                object-fit: cover;
                height: 176px;
                width: $width;
                border: none;
                border-radius: 20px 20px 0px 0px;
            }
            &__description{
                background-color: $cd-background;
                border-radius: 20px;
                box-shadow: 0px 4px 15px 0px $cd-shadow--secondary;
                z-index: 0;
                width: 100%;
                &__heart{
                    position: relative;
                    z-index: 1;
                    left: 85%;
                    bottom: 50px;
                    width: 23px;
                    & .fa-heart{
                        font-size: 22px;
                    }
                }
                &__text h3 {
                    margin: -4px 0px 0px 0px;
                    padding-top: 15px;
                    padding-left: 10px;
                }
                &__text p{
                    margin: 5px 5px 5px 0px;
                    padding-left: 10px;
                }
                
            }
        }
    }
// Partie page des menus
    .images__menu{
        position: absolute;
        z-index: 0;
        width: $width;
        & img{
        width: $width;
        height: 275px;
        object-fit: cover;
        }
    }
    .container{
        background-color: $cd-background--main;
        position: relative;
        z-index: 1;
        border-radius: 35px 35px 0px 0px;
        width: 50%;
        display: flex;
        flex-direction: column;
        margin: 230px auto 0px auto;
        padding: 0px 128px;
        .title{
            padding-top: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            & h1{
                font-size: 28px;
                font-family: "shrikhand", sans-serif;
                font-style: italic;
                margin: 0px 35px 0px 0px;
            }
            .enter{
                width: $width;
            }
            .heart{
                display: flex;
                justify-content: center;
                align-items: center;
                .fa-heart{
                    font-size: 22px;
                }
                
            }
        }
        
        .menu{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            &__title{
                & p{
                    margin: 15px 0px 3px 0px;
                }
            }
            .green__bar{
                border: 1px solid $cd-background--notif;
                width: 40px;
                margin-bottom: 10px;
            }
        }
        .container__menu{
            width: 90%;
            display: flex;
            justify-content: center;
            box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px $cd-shadow--secondary;
            border-radius: 15px;
            overflow: hidden;
            margin-bottom: 15px;
            &__cards{
                display: flex;
                flex-direction: column;
                width: $width;
                cursor: pointer;
                padding: 10px 10px 10px 15px;
                white-space: nowrap;
                flex: 1;
                min-width: 0;
                &__title{
                    font-size: 18px;
                    font-weight: bold;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &__price{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    padding: 10px 10px 0px 0px;
                    &__txt{
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    & .bold{
                        margin: 0px;
                        font-weight: bold;
                    }
                }
                
            }
        }
    &__button{
        display: flex;
        margin: 30px auto 42px auto;
        width: 205px;
        @import "./button.scss";
        & p{
            padding: 0px 40px 0px 40px;
        }
    }
    }
    
}
// Responsive Tablette
@media (min-width: 769px) and (max-width: 1024px){
    .reservation{
        position: relative;
        z-index: 0;
        background-color: $cd-background--secondary;
        padding: 45px 0px 50px 0px;
        &__title{
            display: flex;
            justify-content: center;
        }
        & h1{
            width: 75%;
            text-align: center;
            margin: 0px;
        }
        &__text{
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
            & p{
                width: 75%;
                text-align: center;
            }
        }
        &__button{
            display: flex;
            margin: 30px auto 0px auto;
            width: 205px;
            @import "./button.scss";
        }
    }
// Deuxièmes sections

    .explain{
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        &__title{
            padding: 20px 0px 13px 0px;
            display: flex;
            justify-content: center;
            width: 70%;
        }
        &__container{
            display: flex;
            justify-content: flex-end;
            &__block{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 90%;
            }
        }
        &__cards{
            position: relative;
            z-index: 0;
            background-color: $cd-background;
            display: flex;
            flex-direction: row;
            align-items: center;
            border: none;
            border-radius: 20px;
            box-shadow: 0px 4px 15px 0px $cd-shadow;
            height: 72px;
            width: 85%;
            margin: 0px 0px 30px 30px;
            & .fa-mobile-screen-button, .fa-list-ul, .fa-store{
                margin-left: 10px;
                color: $cd-color--font;
            }
            & .fa-mobile-screen-button:hover, .fa-list-ul:hover, .fa-store:hover{
                color: $cd-background--circle;
            }
            & h3{
                margin-left: 25px;
            }
        }
        & .circle__numbers{
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            background-color: $cd-background--circle;
            border: none;
            border-radius: 20px;
            color: white;
            right: 12px;
        }
    }
// Troisièmes section
    .restaurants{
        background-color: $cd-background--secondary;
        padding-bottom: 70px;
        position: relative;
        &__title{
            padding: 60px  0px 20px 15px;
            display: flex;
            justify-content: center;
            & h2{
                margin: 0px 0px 25px 0px;
            }
        }
        &__container__add{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }
        &__container{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }
        &__cards__add{
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 0;
            width: 40%;
            position: relative;
            & a{
                text-decoration: none;
                color: $cd-color--txt;
            }
            &__notif{
                position: absolute;
                z-index: 1;
                background-color: $cd-background--notif;
                border-radius: 5px;
                height: 29px;
                width: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0px 2px 4px 0px $cd-shadow;
                right: 15px;
                top: 15px;
            }
            & img{
                object-fit: cover;
                height: 176px;
                border: none;
                border-radius: 20px 20px 0px 0px;
                width: $width;
            } 
            &__description{
                background-color: $cd-background;
                border-radius: 0px 0px 20px 20px;
                box-shadow: 0px 4px 15px 0px $cd-shadow--secondary;
                padding-left: 10px;
                z-index: 0;
                height: 85px;
                width: 360px;
                &__heart{
                    position: relative;
                    z-index: 1;
                    left: 310px;
                    bottom: 70px;
                    width: 23px;
                }
                &__text h3 {
                    margin: 0px;
                    padding-top: 15px;
                }
            }
        }
        &__cards{
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 0;
            margin-top: 30px;
            width: 40%;
            & a{
                text-decoration: none;
                color: $cd-color--txt;
            }
            & img{
                object-fit: cover;
                height: 176px;
                width: $width;
                border: none;
                border-radius: 20px 20px 0px 0px;
            }
            &__description{
                background-color: $cd-background;
                border-radius: 20px;
                box-shadow: 0px 4px 15px 0px $cd-shadow--secondary;
                z-index: 0;
                width: 100%;
                &__heart{
                    position: relative;
                    z-index: 1;
                    left: 85%;
                    bottom: 50px;
                    width: 23px;
                    & .fa-heart{
                        font-size: 22px;
                    }
                }
                &__text h3 {
                    margin: -4px 0px 0px 0px;
                    padding-top: 15px;
                    padding-left: 10px;
                }
                &__text p{
                    margin: 5px 5px 5px 0px;
                    padding-left: 10px;
                }
                
            }
        }
    }
// Partie page des menus
    .images__menu{
        position: absolute;
        z-index: 0;
        width: $width;
        & img{
        width: $width;
        height: 275px;
        object-fit: cover;
        }
    }
    .container{
        background-color: $cd-background--main;
        position: relative;
        z-index: 1;
        border-radius: 35px 35px 0px 0px;
        width: 50%;
        display: flex;
        flex-direction: column;
        margin: 230px 15% 0px 15%;
        padding: 0px 128px;
        .title{
            padding-top: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            & h1{
                font-size: 28px;
                font-family: "shrikhand", sans-serif;
                font-style: italic;
                margin: 0px 35px 0px 0px;
            }
            .enter{
                width: $width;
            }
            .heart{
                display: flex;
                justify-content: center;
                align-items: center;
                .fa-heart{
                    font-size: 22px;
                }
                
            }
        }
        
        .menu{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            &__title{
                & p{
                    margin: 15px 0px 3px 0px;
                }
            }
            .green__bar{
                border: 1px solid $cd-background--notif;
                width: 40px;
                margin-bottom: 10px;
            }
        }
        .container__menu{
            width: 90%;
            display: flex;
            justify-content: center;
            box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px $cd-shadow--secondary;
            border-radius: 15px;
            overflow: hidden;
            margin-bottom: 15px;
            &__cards{
                display: flex;
                flex-direction: column;
                width: $width;
                cursor: pointer;
                padding: 10px 10px 10px 15px;
                white-space: nowrap;
                flex: 1;
                min-width: 0;
                &__title{
                    font-size: 18px;
                    font-weight: bold;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &__price{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    padding: 10px 10px 0px 0px;
                    &__txt{
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    & .bold{
                        margin: 0px;
                        font-weight: bold;
                    }
                }
                
            }
        }
    &__button{
        display: flex;
        margin: 30px auto 42px auto;
        width: 205px;
        @import "./button.scss";
        & p{
            padding: 0px 40px 0px 40px;
        }
    }
    }
    
}



// Responsive Phone
@media (max-width: 768px){
    .reservation{
        position: relative;
        z-index: 0;
        background-color: $cd-background--secondary;
        padding: 45px 0px 50px 0px;
        &__title{
            display: flex;
            justify-content: center;
        }
        & h1{
            width: 75%;
            text-align: center;
            margin: 0px;
        }
        &__text{
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
            & p{
                width: 75%;
                text-align: center;
            }
        }
        &__button{
            display: flex;
            justify-content: center;
            margin: 30px 25% 0px 25%;
            @import "./button.scss";
        }
    }
// Deuxièmes sections

    .explain{
        padding-bottom: 60px;
        &__title{
            padding: 20px 0px 13px 20px;
        }
        &__container{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &__cards{
            position: relative;
            z-index: 0;
            background-color: $cd-background;
            display: flex;
            flex-direction: row;
            align-items: center;
            border: none;
            border-radius: 20px;
            box-shadow: 0px 4px 15px 0px $cd-shadow;
            height: 72px;
            width: 85%;
            margin: 0px 0px 30px 30px;
            & .fa-mobile-screen-button, .fa-list-ul, .fa-store{
                margin-left: 15px;
                color: $cd-color--font;
            }
            & .fa-mobile-screen-button:hover, .fa-list-ul:hover, .fa-store:hover{
                color: $cd-background--circle;
            }
            & h3{
                margin-left: 25px;
            }
        }
        & .circle__numbers{
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            background-color: $cd-background--circle;
            border: none;
            border-radius: 20px;
            color: white;
            right: 12px;
        }
    }
// Troisièmes section
    .restaurants{
        background-color: $cd-background--secondary;
        padding-bottom: 70px;
        position: relative;
        &__title{
            padding: 60px  0px 0px 15px;
            & h2{
                margin: 0px;
            }
        }
        &__container__add{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        &__container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        &__cards__add{
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 0;
            width: 90%;
            position:relative;
            margin-top: 30px;
            & a{
                text-decoration: none;
                color: $cd-color--txt;
            }
            &__notif{
                position: absolute;
                z-index: 1;
                background-color: $cd-background--notif;
                border-radius: 5px;
                height: 29px;
                width: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0px 2px 4px 0px $cd-shadow;
                right: 15px;
                top: 15px;
            }
            & img{
                object-fit: cover;
                height: 176px;
                border: none;
                border-radius: 20px 20px 0px 0px;
                width: $width;
            } 
            &__description{
                background-color: $cd-background;
                border-radius: 0px 0px 20px 20px;
                box-shadow: 0px 4px 15px 0px $cd-shadow--secondary;
                padding-left: 10px;
                z-index: 0;
                height: 85px;
                width: 360px;
                &__heart{
                    position: relative;
                    z-index: 1;
                    left: 310px;
                    bottom: 70px;
                    width: 23px;
                }
                &__text h3 {
                    margin: 0px;
                    padding-top: 15px;
                }
            }
        }
        &__cards{
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 0;
            margin-top: 30px;
            width: 90%;
            & a{
                text-decoration: none;
                color: $cd-color--txt;
            }
            & img{
                object-fit: cover;
                height: 176px;
                width: $width;
                border: none;
                border-radius: 20px 20px 0px 0px;
            }
            &__description{
                background-color: $cd-background;
                border-radius: 20px;
                box-shadow: 0px 4px 15px 0px $cd-shadow--secondary;
                z-index: 0;
                width: $width;
                &__heart{
                    position: relative;
                    z-index: 1;
                    left: 85%;
                    bottom: 50px;
                    width: 23px;
                    & .fa-heart{
                        font-size: 22px;
                    }
                }
                &__text h3 {
                    margin: -4px 0px 0px 0px;
                    padding-top: 15px;
                    padding-left: 10px;
                }
                &__text p{
                    margin: 5px 5px 5px 0px;
                    padding-left: 10px;
                }
                
            }
        }
    }
// Partie page des menus
    .images__menu{
        position: absolute;
        z-index: 0;
        width: $width;
        & img{
        width: $width;
        height: 275px;
        object-fit: cover;
        }
    }
    .container{
        background-color: $cd-background--main;
        position: relative;
        z-index: 1;
        border-radius: 35px 35px 0px 0px;
        margin-top: 230px;
        .title{
            padding-top: 40px;
            margin: 0px 30px 0px 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            & h1{
                font-size: 28px;
                font-family: "shrikhand", sans-serif;
                font-style: italic;
                margin: 0px;
            }
            .heart{
                display: flex;
                justify-content: center;
                align-items: center;
                .fa-heart{
                    font-size: 22px;
                }
                
            }
        }
        
        .menu{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            &__title{
                & p{
                    margin: 15px 0px 3px 0px;
                }
            }
            .green__bar{
                border: 1px solid $cd-background--notif;
                width: 40px;
                margin-bottom: 10px;
            }
        }
        .container__menu{
            width: 90%;
            display: flex;
            justify-content: center;
            box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px $cd-shadow--secondary;
            border-radius: 15px;
            overflow: hidden;
            margin-bottom: 15px;
            &__cards{
                display: flex;
                flex-direction: column;
                width: $width;
                cursor: pointer;
                padding: 10px 10px 10px 15px;
                white-space: nowrap;
                flex: 1;
                min-width: 0;
                &__title{
                    font-size: 18px;
                    font-weight: bold;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &__price{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    padding: 10px 10px 0px 0px;
                    &__txt{
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    & .bold{
                        margin: 0px;
                        font-weight: bold;
                    }
                }
                
            }
        }
    &__button{
        display: flex;
        justify-content: center;
        margin: 30px 50% 0px 50%;
        padding-bottom: 40px;
        @import "./button.scss";
        & p{
            padding: 0px 40px 0px 40px;
        }
    }
    }
    
}

