// Animation loader
@keyframes background-loader{
    0%{
        background-color: white;
        opacity: 1;
    }
    95%{
       background-color: white;
       opacity: 1;
    }
    100%{
        opacity: 0;
        background: transparent;
        display: none;
    }
}
@keyframes loader{
    0%{
        transform: translateX(-900px);
    }
    50%{
        transform: translateX(0);
    }
    60%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(720deg);
    }
}
.loader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    animation: background-loader 3000ms forwards;

    & img{
        position: absolute;
        z-index: 10;
        width: 75px;
        height: 75px;
        top: 40%;
        left: 50%;
        animation: loader 2600ms ease-in-out;
    }
}
// Animation menu
//Titre des page de menu
@keyframes appearance {
    from{
        transform: translateX(-999px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
.container{
    // title
    & .title{
        animation: appearance 2000ms 100ms backwards;
    }
    // Entrée
    & .enter{
        animation: appearance 2000ms 250ms backwards;
    }
    // Plats
    & .dishes{
        animation: appearance 2000ms 400ms backwards;
    }
    // Desserts
    & .desserts{
        animation: appearance 2000ms 550ms backwards;
    }
}
// Animation sur les boutons
.button{
    transition-property: transition;
    transition-duration: 3000ms;
    &:hover{
        background: linear-gradient(200.64deg, #9356DC -70.2%, #FF79DA 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
        box-shadow: 0px 4px 15px 0px #00000059;
    }
}



