// Animation loader
@keyframes background-loader{
    0%{
        background-color: white;
        opacity: 1;
    }
    95%{
       background-color: white;
       opacity: 1;
    }
    100%{
        opacity: 0;
        background: transparent;
        display: none;
    }
}
@keyframes loader{
    0%{
        transform: translateX(-900px);
    }
    50%{
        transform: translateX(0);
    }
    60%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(720deg);
    }
}
.loader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    animation: background-loader 3000ms forwards;

    & img{
        position: absolute;
        z-index: 10;
        width: 75px;
        height: 75px;
        top: 40%;
        left: 50%;
        animation: loader 2600ms ease-in-out;
    }
}
// Animation menu
//Titre des page de menu
@keyframes appearance-title {
    from{
        transform: translateX(-999px);
    }
    to{
        transform: translateX(0);
    }
}
.title{
    animation: appearance-title 1000ms;
}
// Entrée
@keyframes appearance-enter{
    from{
        transform: translateX(-999px);
    }
    to{
        transform: translateX(0);
    }
}
.menu{
    animation: appearance-enter 1000ms;
}