@keyframes loader-img{
    0%{
        transform: translateY(-9999);

    }
    40%{
        transform: translateY(0);
    }
}
/*.loader__img{
    
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: left;
    background-image: url();
    width: 150px;
    height: 200px;
}
body{
    background-color: white;
    position: relative;
    z-index: 0;
}
.loader{
    position: relative;
    z-index: 1;
}*/