body{
    font-family: "roboto", sans-serif;
    margin: 0px;
}

// Première section
@media (max-width: 767.98px){
    .reservation{
        position: relative;
        z-index: 0;
        background-color: rgb(245, 239, 239);
        padding: 45px 0px 50px 0px;
        &__title{
            display: flex;
            justify-content: center;
        }
        & h2{
            width: 75%;
            text-align: center;
            margin: 0px;
        }
        &__text{
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
            & p{
                width: 75%;
                text-align: center;
            }
        }
        &__button{
            display: flex;
            justify-content: center;
            @import "./button.scss";
        }
        
    
        
        
    }
    
}