.button{
    background: linear-gradient(#FF79DA, #9356DC);
    display: flex;
    text-decoration: none;
    width: auto;
    height: 50px;
    border: none;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    & p{
        margin: 15px;
    }
}