.footer{
    background-color: #353535;
    position: relative;
    &__restaurant{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        padding: 10px 0px 0px 25px;
        & p{
            margin: 0px;
            padding-left: 10px;
        }
    }
    &__title{
        color: white;
        font-family: "shrikhand", sans-serif;
        font-style: italic;
        font-size: 18px;
        padding: 20px 0px 0px 25px;
        margin: 0px;
    }
    &__partner{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        padding: 10px 0px 0px 25px;
        & .fa-handshake{
            transform: rotate(326deg);
            font-size: 14px;
            display: inline-block;
            width: 13px;
            height: 11.92px;
        }
        & p{
            margin: 0px;
            padding-left: 10px;
        }
    }
    &__mentions{
        color: white;
        & p{
            margin: 0px;
            padding: 10px 0px 0px 25px;
        }
    }
    &__contact{
        padding: 10px 0px 25px 25px;
        
        & a{
            color: white;
            text-decoration: none;
        }
    }
}