$cd-background: white;
$cd-shadow: #00000026;
$cd-background--main: #F6F6F6;
$cd-color--font: #7E7E7E;
$cd-background--secondary: #FDF6F6;
$cd-color--txt: black;
$cd-color--txt: white;
$background-linear--button: linear-gradient(#FF79DA, #9356DC);
$width: 100%;



