@media (max-width: 767.98px) {
  .header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1490196078);
    z-index: 2;
    position: relative;
  }
  .header__location {
    background-color: #EAEAEA;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3647058824);
    z-index: 1;
    position: relative;
  }
  .header__location .fa-location-dot {
    margin-right: 10px;
    color: #353535;
  }
}
body {
  font-family: "roboto", sans-serif;
  margin: 0px;
}

@media (max-width: 767.98px) {
  .reservation {
    position: relative;
    z-index: 0;
    background-color: rgb(253, 246, 246);
    padding: 45px 0px 50px 0px;
  }
  .reservation__title {
    display: flex;
    justify-content: center;
  }
  .reservation h2 {
    width: 75%;
    text-align: center;
    margin: 0px;
  }
  .reservation__text {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  .reservation__text p {
    width: 75%;
    text-align: center;
  }
  .reservation__button {
    display: flex;
    justify-content: center;
  }
  .reservation__button .button {
    background: linear-gradient(#FF79DA, #9356DC);
    display: flex;
    text-decoration: none;
    width: auto;
    height: 50px;
    border: none;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .reservation__button .button p {
    margin: 15px;
  }
  .explain {
    padding-bottom: 60px;
  }
  .explain__title {
    padding: 20px 0px 13px 20px;
  }
  .explain__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .explain__cards {
    position: relative;
    z-index: 0;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
    height: 72px;
    width: 85%;
    margin: 0px 0px 30px 30px;
  }
  .explain__cards .fa-mobile-screen-button, .explain__cards .fa-list-ul, .explain__cards .fa-store {
    margin-left: 15px;
    color: #7E7E7E;
  }
  .explain__cards .fa-mobile-screen-button:hover, .explain__cards .fa-list-ul:hover, .explain__cards .fa-store:hover {
    color: #9356DC;
  }
  .explain__cards h3 {
    margin-left: 25px;
  }
  .explain .circle__numbers {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: #9356DC;
    border: none;
    border-radius: 20px;
    color: white;
    right: 12px;
  }
  .restaurants {
    background-color: rgb(253, 246, 246);
    padding-bottom: 70px;
  }
  .restaurants__title {
    padding: 60px 0px 0px 15px;
  }
  .restaurants__title h2 {
    margin: 0px;
  }
  .restaurants__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .restaurants__cards__add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
  }
  .restaurants__cards__add img {
    object-fit: cover;
    height: 176px;
    width: 370px;
    border: none;
    border-radius: 20px 20px 0px 0px;
  }
  .restaurants__cards__add__notif {
    position: relative;
    z-index: 1;
    background-color: #99E2D0;
    border-radius: 5px;
    height: 29px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
    left: 275px;
    top: 42px;
  }
  .restaurants__cards__add__description {
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
    padding-left: 10px;
    z-index: 0;
    height: 85px;
    width: 360px;
  }
  .restaurants__cards__add__description__heart {
    position: relative;
    z-index: 1;
    left: 310px;
    bottom: 70px;
    width: 22px;
    height: 22px;
  }
  .restaurants__cards__add__description__text h3 {
    margin: 0px;
    padding-top: 15px;
  }
  .restaurants__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
    margin-top: 30px;
  }
  .restaurants__cards img {
    object-fit: cover;
    height: 176px;
    width: 370px;
    border: none;
    border-radius: 20px 20px 0px 0px;
  }
  .restaurants__cards__description {
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
    padding-left: 10px;
    z-index: 0;
    height: 85px;
    width: 360px;
  }
  .restaurants__cards__description__heart {
    position: relative;
    z-index: 1;
    left: 310px;
    bottom: 70px;
    width: 22px;
    height: 22px;
  }
  .restaurants__cards__description__text h3 {
    margin: 0px;
    padding-top: 15px;
  }
}

/*# sourceMappingURL=styles.css.map */
